* {
    margin: 0px;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    /* padding: 0 100px; */
    margin: 0px;
    display: flex;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
}

.account-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 41, 44);
    justify-content: center;
    display: flex;
    overflow: auto;
    align-items: center;
}

.account {
    width: 299px;
    height: 65;
    background-color: rgb(56, 59, 61);
    color: white;
    border: none;
    border-radius: 12px;
    gap: 9px;
    /* margin-top: 100px; */
    margin-left: 300px;
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.request-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 41, 44);
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: auto;

}

.request {
    width: 44%;
    height: 66vh;
    background-color: rgb(56, 59, 61);
    color: white;
    border: none;
    border-radius: 12px;
    gap: 23px;
    margin-left: 300px;
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification-container {
    width: 100%;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: rgb(34, 41, 44);
    justify-content: flex-start;
    display: flex;
    gap: 23px;
    padding-top: 74px;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.notification {
    width: 23%;
    height: 8%;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 120, 177);
    border-radius: 15px;
    padding: 12px 0px;
    color: rgb(241, 236, 236);
}

.notification-success {
    background-color: greenyellow;
}

.notification-error {
    background-color: rgb(151, 34, 69);
}

.terms-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 41, 44);
    justify-content: flex-start;
    display: flex;
    overflow: auto;
    align-items: center;
}

.terms {
    width: 83%;
    text-align: left;
    height: 49%;
    background-color: rgb(56, 59, 61);
    color: white;
    border: none;
    border-radius: 12px;
    gap: 15px;
    font-family: 'Arial', sans-serif;
    margin-top: -178px;
    margin-left: 220px;
    display: flex;
    padding: 12px 0px;
    padding-left: 12px;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

button {
    width: 55px;
    padding: 12px 0px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white
}

#profile_picture {
    width: 111px;
    height: 200px;
    /* object-fit: cover; */
    background-color: aqua;
    border-radius: 850px;
    display: flex;
}

Link {
    text-decoration: none;
}

input[type="text"] {
    background-color: #000000;
    color: white;
    width: 66%;
    height: 23%;
    padding: 12px 0px;
    padding-left: 12px;
    border: none;
    border-radius: 12px;
    border-bottom: 2px rgb(23, 219, 170);
}

input[type="password"] {
    background-color: #000000;
    color: white;
    width: 66%;
    height: 23%;
    padding: 12px 0px;
    padding-left: 12px;
    border: none;
    border-radius: 12px;
    border-bottom: 2px rgb(23, 219, 170);
}

textarea {
    width: 379px;
    height: 250px;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    /* border-bottom: #37b4d3; */
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

ul {
    font-family: 'Arial', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: rgb(19, 19, 24);
    position: fixed;
    color: white;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 12px;
}

li a:hover {
    background-color: white;
    color: black;
}

/* Styles for ul1 */

.ul1 {
    list-style-type: none;
    width: 100%;
    /* display:flex ; */
    height: 7%;
    margin: 0;
    /* padding: 32px; */
    overflow: hidden;
    background-color: rgb(19, 19, 24);
}

.li1 {
    /* padding: 32px; */
    float: right;
    width: 99px;
    height: 82px;
    justify-content: center;
    background-color: black;
    color: white;
}

.li1 a {
    /* display: block; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li1 a:hover {
    background-color: #f5f4f4;
}

.icon-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 41, 44);
    /* justify-content: center; */
    overflow: auto;
    display: inline-flex;
    /* align-items: center; */
}

.icons {
    width: 305px;
    height: 98px;
    border-radius: 15px;
    background-color: blue;
    display: flex;
    align-items: center;
    margin-left: 245px;
    margin-top: 90px;
    color: white;
    padding: 23px;
}

.img1 {
    margin-top: 8px;
    width: 39%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.icons1 {
    width: 305px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(221, 182, 9);
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 23px;
    color: white;
    margin-top: 90px;
}

.icons2 {
    width: 305px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(218, 8, 36);
    display: flex;
    color: white;
    align-items: center;
    margin-left: 15px;
    padding: 23px;
    margin-top: 90px;
}

;

.login-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 41, 44);
    justify-content: center;
    display: flex;
    overflow: auto;
    align-items: center;
}

.update-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: black;
    justify-content: center;
    display: flex;
    opacity: 0.5;
    overflow: auto;
    align-items: center;
}

.update {
    width: 24%;
    height: 66vh;
    background-color: rgb(56, 59, 61);
    color: white;
    border: none;
    border-radius: 12px;
    gap: 23px;
    /* margin-top: 100px; */
    margin-left: 300px;
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ul1Admin {
    list-style-type: none;
    width: 100%;
    /* display:flex ; */
    height: 7%;
    margin: 0;
    /* padding: 32px; */
    overflow: hidden;
    background-color: rgb(206, 206, 236);
}

.li1Admin {
    /* padding: 32px; */
    float: right;
    width: 99px;
    border-radius: 8px;
    height: 85px;
    justify-content: center;
    background-color: rgb(206, 206, 236);
    /* color: black; */
}

.li1Admin a {
    /* display: block; */
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li1Admin a:hover {
    background-color: #f5f4f4;
}

.ul2Admin {
    font-family: 'Arial', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: rgb(218, 218, 236);
    position: fixed;
    /* color: rgb(22, 21, 21); */
    height: 100%;
    overflow: auto;
}

.liAdmin a {
    display: block;
    color: rgb(5, 5, 5);
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 12px;
}

.liAdmin a:hover {
    background-color: rgb(14, 13, 13);
    color: rgb(240, 230, 230);
}

.icon-container-admin {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(163, 187, 197);
    justify-content: center;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    /* align-content: stretch; */
}

.icons-admin {
    width: 220px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(51, 156, 156);
    display: flex;
    align-items: center;
    margin-left: 215px;
    margin-top: 90px;
    color: black;
    padding: 23px;
}

.icons1-admin {
    width: 220px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(206, 206, 236);
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 7px;
    color: black;
    margin-top: 90px;
}

.icons2-admin {
    width: 220px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(206, 206, 236);
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 12px;
    padding: 8px;
    color: rgb(17, 16, 16);
    margin-top: 90px
}

.icons3-admin {
    width: 220px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(206, 206, 236);
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 8px;
    color: black;
    margin-top: 90px
}

.icons4-admin {
    width: 220px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(206, 206, 236);
    display: flex;
    align-items: center;
    margin-left: 120px;
    padding: 8px;
    color: black;
    /* margin-top: 90px */
}

.icons5-admin {
    width: 294px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(206, 206, 236);
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 2px;
    color: black;
    /* margin-top: px */
}

.icons6-admin {
    width: 290px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(206, 206, 236);
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 8px;
    color: black;
    /* margin-top: 90px */
}

.account-container-admin {
    font-family: 'Arial', sans-serif;
    overflow: auto;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(163, 187, 197);
}

;

#two.account {
    width: 299px;
    height: 65;
    background-color: rgb(206, 206, 236);
    color: white;
    border: none;
    border-radius: 12px;
    gap: 9px;
    /* margin-top: 100px; */
    margin-left: 300px;
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    overflow: auto;
    height: 100vh;
    background-color: rgb(163, 187, 197);
    justify-content: center;
    /* align-items: center; */
    display: flex;
    /* gap: 91px; */
    flex-wrap: wrap;
}

;

/* rgb(163, 187, 197) */

.employee-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(163, 187, 197);
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 51px; */
    flex-wrap: wrap;
    overflow: auto;
}

.employee {
    width: 290px;
    height: 298px;
    border-radius: 15px;
    background-color: rgb(206, 206, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 8px;
    gap: 4px;
    color: black;
}

.category-container,
.notification-container-admin {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(163, 187, 197);
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 51px; */
    flex-wrap: wrap;
    overflow: auto;
}

.transaction-container-admin {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(163, 187, 197);
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 51px; */
    flex-wrap: wrap;
    overflow: auto;
}

.transaction-admin {
    width: 23%;
    height: 8%;
    text-align: center;
    border: none;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    border-radius: 15px;
    padding: 12px 0px;
    color: black;
    background-color: white
}

.category {
    width: 290px;
    height: 98px;
    border-radius: 15px;
    background-color: rgb(206, 206, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 8px;
    color: black;
}

;

.notification-admin {
    width: 23%;
    height: 8%;
    text-align: center;
    border: none;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    border-radius: 15px;
    padding: 12px 0px;
    color: black;
    background-color: white
}

.buttonStyle2 {
    background-color: black;
    border-radius: 15px;
    width: 98px;
    text-align: center;
    height: 53px;
}

.add-btn {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90px;
    gap: 9px;
    margin-top: 2px;
    margin-left: 205px;
    border-radius: 18px;
    background-color: rgb(41, 48, 51);
    /* padding-left: 26px; */
    flex-direction: column;
}

.addItem-btn {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 26px;
    gap: 9px;
    margin-top: 2px;
    border-radius: 18px;
    background-color: rgb(230, 245, 236);
    /* padding-left: 26px; */
    flex-direction: column;
}

.status-btn {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: orange;
    height: 26px;
    gap: 9px;
    margin-top: 2px;
    border-radius: 18px;
    flex-direction: column;
}

.green-btn {
    background-color: green;
    color: rgb(83, 150, 83)
}

.red-btn {
    background-color: rgb(252, 3, 3);
    color: red
}

.bigger {
    width: 42%;
    height: 45%;
    background-color: rgb(151, 183, 197);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
    border-radius: 15px;
    gap: 12px;
}

.terms-admin {
    width: 83%;
    text-align: left;
    height: 49%;
    background-color: rgb(206, 206, 236);
    color: rgb(29, 27, 27);
    border: none;
    border-radius: 12px;
    gap: 15px;
    font-family: 'Arial', sans-serif;
    margin-top: -178px;
    margin-left: 220px;
    display: flex;
    padding: 12px 0px;
    padding-left: 12px;
    flex-direction: column;
}

;

.th1 {
    width: 23px;
    background-color: blue;
}

#searchInput {
    background-color: white;
    color: black;
    width: 14%;
    height: 5%;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-left: 1020px;
    margin-top: 60px
}

.buttonStyle {
    background-color: rgb(20, 19, 19);
    color: white;
    width: 109%;
    height: 23px;
    padding: 5px 12px;
    border-radius: 45px,
}

.buttonStyle3 {
    background-color: rgb(253, 251, 251);
    color: white;
    width: 3%;
    margin-top: 15px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    border-radius: 45px,
}

.buttonStyle:hover {
    background-color: rgb(22, 28, 32);
}

.dept-container-admin {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(163, 187, 197);
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    overflow: auto;
}

.No {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: Black;
    width: 100%;
    height: 100vh;
    color: rgb(12, 193, 199);
    font-weight: 100px;
    font-family: 'Arial', sans-serif;
}

.home-supervisor-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(13, 15, 39);
    justify-content: center;
    display: flex;
    color: white;
    align-items: center;
    overflow: auto;
}

.home-supervisor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.notification-supervisor-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(50, 38, 100);
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: auto;
}

.ulsupervisor {
    list-style-type: none;
    width: 100%;
    height: 5.5%;
    display: flex;
    flex-direction: inline;
    margin: 0;
    justify-content: right;
    overflow: hidden;
    background-color: rgb(33, 116, 141);
}

.lisupervisor a {
    color: rgb(250, 243, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lisupervisor a:hover {
    background-color: #f5f4f4;
}

.ul2supervisor {
    font-family: 'Arial', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    background-color: rgb(33, 116, 141);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.lisupervisor a:hover {
    background-color: rgb(14, 13, 13);
    color: rgb(240, 230, 230);
}

.notification-supervisor {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 21, 37);
    justify-content: center;
    align-items: center;
    padding-top: 74px;
    display: flex;
    /* gap: 51px; */
    flex-wrap: wrap;
    overflow: auto;
}

.request-supervisor-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 21, 37);
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: auto;
}

.request-supervisor {
    width: 44%;
    height: 66vh;
    background-color: rgb(35, 42, 68);
    color: white;
    border: none;
    border-radius: 12px;
    gap: 23px;
    margin-left: 300px;
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transaction-container-supervisor {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 21, 37);
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 51px; */
    flex-wrap: wrap;
    overflow: auto;
}

.notification-container-supervisor {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 21, 37);
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 51px; */
    flex-wrap: wrap;
    overflow: auto;
}

.terms-supervisor {
    width: 83%;
    text-align: left;
    height: 49%;
    background-color: rgb(56, 97, 124);
    color: rgb(240, 239, 239);
    border: none;
    border-radius: 12px;
    gap: 15px;
    font-family: 'Arial', sans-serif;
    margin-top: -178px;
    margin-left: 220px;
    display: flex;
    padding: 12px 0px;
    padding-left: 12px;
    flex-direction: column;
}

.home-hr-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(130, 142, 161);
    justify-content: center;
    display: flex;
    color: black;
    align-items: center;
    overflow: auto;
}

.home-hr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ulhr {
    list-style-type: none;
    width: 100%;
    height: 5.5%;
    display: flex;
    flex-direction: inline;
    margin: 0;
    justify-content: right;
    overflow: hidden;
    background-color: rgb(130, 142, 161);
}
.notification-hr{
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(130, 142, 161);
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 51px; */
    flex-wrap: wrap;
    overflow: auto;
}
.ul2hr{
    font-family: 'Arial', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    background-color: rgb(130, 142, 161);
    position: fixed;
    height: 100%;
    overflow: auto;
}
.request-hr-container{
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(130, 142, 161);
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: auto;
}
.request-hr{
    width: 44%;
    height: 66vh;
    background-color: rgb(101, 131, 184);
    color: white;
    border: none;
    border-radius: 12px;
    gap: 23px;
    margin-left: 300px;
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.transaction-container-hr{
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(130, 142, 161);
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 51px; */
    flex-wrap: wrap;
    overflow: auto;
}
.terms-container-hr{
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(130, 142, 161);
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 51px; */
    flex-wrap: wrap;
    overflow: auto;
}
.terms-hr{
    width: 83%;
    text-align: left;
    height: 49%;
    background-color: rgb(101, 131, 184);
    color: rgb(240, 239, 239);
    border: none;
    border-radius: 12px;
    gap: 15px;
    font-family: 'Arial', sans-serif;
    margin-top: -178px;
    margin-left: 220px;
    display: flex;
    padding: 12px 0px;
    padding-left: 12px;
    flex-direction: column;
}